{% extends 'tickets/base.html' %}

{% block content %}
<h2>Welcome</h2>
<pre>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac lectus eget mauris sodales tristique. Quisque
    quam libero, scelerisque nec dictum eu, fringilla sit amet mauris. Suspendisse potenti. In hac habitasse platea
    dictumst. Suspendisse sollicitudin, dolor sit amet placerat gravida, enim mauris blandit tortor, nec auctor lectus
    neque sed purus. Integer lectus nisl, convallis id lacus vel, accumsan consequat massa. Vestibulum a mauris ut dui
    tincidunt convallis. Suspendisse commodo metus nulla, vel consectetur leo blandit quis. Duis efficitur nec neque vel
    imperdiet. Integer pharetra in quam eget ullamcorper. Aenean a ipsum lacus.

    Donec nec diam nec dui consequat consectetur et et lorem. Quisque id orci dapibus, varius magna id, rutrum sapien.
    Etiam nec lectus eu eros vestibulum dictum sed nec sapien. Suspendisse eget arcu purus. Sed nec dictum lorem. Nullam
    eu placerat quam. Sed maximus blandit ex, at maximus dui egestas eget.</pre>
{% endblock %}