{% extends 'tickets/base.html' %}

{% block content %}
<h2 class="text-center">Login</h2>
<div class="col-md-6 mx-auto">
    <form method="post">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </p>
        {% if form.non_field_errors %}
        <p class="text-danger">User and Password not match, try again.</p>
        {% endif %}
        <p><a style="text-decoration: none" href="{% url 'signup' %}">Create account here!</a></p>
        <input type="submit" class="btn btn-success" value="Login">
        <a href="{% url 'ticket_list' %}" class="btn btn-dark">Back</a>
</div>
</form>
</div>
{% endblock %}

